# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
# Allow the essential Unity directories to be tracked

!/[Aa]ssets/
!/[Pp]rojectSettings/
!/[Pp]ackages/
!/[Aa]ssets/[Aa]ddressableAssetsData/[Ww]indows/
!/[Aa]ssets/[Aa]ddressableAssetsData/Windows.meta

# Unity generated folders that should be ignored
/[Pp]ackages/cache/
/[Dd]evelop/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Ss]erverData/
/[Aa]ssets/[Ee]dited/
/[Aa]ssets/Edited.meta
/[Aa]ssets/[Dd]ata/
/[Aa]ssets/Data.meta
/[Aa]ssets/[Ww]oodsLifestyle/
/[Aa]ssets/WoodsLifestyle.meta
/[Aa]ssets/[Bb]link/
/[Aa]ssets/Blink.meta
/[Aa]ssets/[Ll]ow Poly Nature Pack Lite/
/[Aa]ssets/Low Poly Nature Pack Lite.meta
/[Aa]ssets/[Hh]andpainted_Forest_pack/
/[Aa]ssets/Handpainted_Forest_pack.meta
/[Aa]ssets/[Hh]QP STUDIOS/
/[Aa]ssets/HQP STUDIOS.meta
/[Aa]ssets/3D Decals Pack/
/[Aa]ssets/3D Decals Pack.meta
/[Aa]ssets/[Ss]impleNaturePack/
/[Aa]ssets/SimpleNaturePack.meta
/[Aa]ssets/[Ll]ineAcross_ENV.forest/
/[Aa]ssets/lineAcross_ENV.forest.meta
/[Aa]ssets/[Ll]owPolyWeapon/
/[Aa]ssets/LowPolyWeapon.meta
/[Aa]ssets/[Mm]ixamo/
/[Aa]ssets/Mixamo.meta
/[Aa]ssets/[Kk]evin Iglesias/
/[Aa]ssets/Kevin Iglesias.meta
/[Aa]ssets/3D Characters Zombie City Streets Lowpoly Pack - Lite/
/[Aa]ssets/3D Characters Zombie City Streets Lowpoly Pack - Lite.meta
/[Aa]ssets/[Ss]imple Foods/
/[Aa]ssets/Simple Foods.meta
/[Aa]ssets/[Rr]pg animations/
/[Aa]ssets/rpg animations.meta
/[Aa]ssets/[Hh]ovl Studio/
/[Aa]ssets/Hovl Studio.meta

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/
.vsconfig

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics generated file
crashlytics-build.properties


# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
